
$font-family-base: "Roboto", -apple-system, BlinkMacSystemFont, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;

$fg: #0c0c0c;

$gray8: #5c6e76;

$bp-tablet: 1200px;
$bp-phone: 767px;

